.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.input {
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border-width: 2px;
}
